@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

:root {
    --red: #f95151;
    --orange: #f7a441; 
    --yellow: #f9e35f;
    --green: #83d45a;
    --blue: #62afdf;
    --purple: #8678dd;

    --light-red: #fca3a3;
    --light-orange: #fccc91; 
    --light-yellow: #feef97;
    --light-green: #b2e698;
    --light-blue: #b1d8f0;
    --light-purple: #bcb5e8;
    
    /* spacing variables */
    --full-page-side-margins: 108px;
    --spacing-qwer-bar-height: 40px;
    --spacing-side-padding: 25px;

    --circle-size: 12px; 
    --border-radius: 12px;
}


/* styling for main content */
.logo {
    max-width:100%;
    height: auto;
}

/* styling by tag */
html {
    scroll-behavior: smooth;
}

body { 
    /* box-sizing: border-box; */
    max-width: 100%;
    max-height: 100%;
    background-color: #000;
}

a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.social-icon a:hover {
    text-decoration: none;
}
a.no-link-decoration:hover {
    text-decoration: none;
}
a.no-link-decoration:visited {
    text-decoration: none;
}

h1 {  
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 

h3 { 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 

p { 
    min-width: 100%;
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 200; 
    line-height: 18px;  
    margin: 0;
} 

br {
    line-height: 50%
}

blockquote { 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 

pre { 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
    width: 100%
}

/* styling for font */
.ubuntu {
    font-family: Ubuntu;
}
.ubuntu-mono {
    font-family: Ubuntu Mono;
}

/* navbar */
nav {
    color: #fff;
}
dropdown-toggle {
    color: #fff;
}
nav li {
    color: #fff;
}
nav a {
    color: #fff;
}
nav a:hover {
    font-weight: 700;
    color: #fff;
}


/* qwerhacks containers */
.qwer-container {
    position: relative;
    margin: 20px;
    border: 2px solid #000;
    border-radius: var(--border-radius);
    min-width: 200px;
}
.bar {
    position: absolute;
    top: -2px;
    left: 0px;
    min-width: 100%;
    height: var(--spacing-qwer-bar-height);
    background-color: #000;
    color: #fff;  /* text color: white */
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    
}
.button { 
    font-size: 16px;
    border-radius: 12px;
    background-color: #000;
    color: #fff;
}
.button a {
    color: #fff;
}
.button a:hover {
   text-decoration: none;
}
.button a:visited {
    color: #fff;
}


.dot {
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: 50%;
    display: inline-block;
    margin-top: 14px;
    margin-right: 4px
}
.bar-title {
    color: #fff;
    display: inline-block;
    margin-left: 25px;
}
.content {
    display: table;
    width: 100%;
    min-height: 100%;
    padding-top: 65px;
    padding-bottom: 25px;
}

.center-inline-block-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-item {
    display: inline-block;
    height: 100px;
    width: auto;
    margin: 25px;
}
.partner-item img {
    height: 100%;
    width: auto;
}

.sponsor-item {
    display: inline-block; 
    width: auto;
    height: 100%;
    margin: 25px;
}
.life img{
    height: 75px; 
    width: auto;
}
.harmony img{
    height: 90px; 
    width: auto;
}
.spirit img{
    height: 105px;
    width: auto; 
}

.qwer-row {
    position: relative;
    display: table-row;
    overflow: hidden;
}
.qwer-col {
    table-layout: auto;
    display: table-cell;
    overflow: hidden;
}

.footer {
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}
  
.bold {
    font-weight: 700;
}

.border {
    border: 1px solid #888;
}
.border-dotted {
    border: 2px dotted #888;
}

/* trivial */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
.padding-3 {
    padding: 3px;
}
.padding-12 {
    padding: 12px;
}
.padding-25 {
    padding: 25px;
}
.padding-sides-25 {
    padding-left: 25px;
    padding-right: 25px;
}
.padding-top-bottom-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.padding-top-bottom-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.padding-sides-100 {
    padding-left: 100px;
    padding-right: 100px;
}
.padding-right-12 {
    padding-right: 12px;
}
.padding-left-12 {
    padding-left: 12px;
}
.margin-25 {
    margin: 25px;
}
.margin-bottom-0 {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}
.inline-block {
    display: inline-block;
}

.sticky-top {
    position: fixed;
    top: 0px;
}

/* colors! */
.red {
    background-color: var(--red);
}
.orange {
    background-color: var(--orange);
}
.yellow {
    background-color: var(--yellow);
}
.green {
    background-color: var(--green);
}
.blue {
    background-color: var(--blue);
}
.purple {
    background-color: var(--purple);
}

.light-red {
    background-color: var(--light-red);
}
.light-orange {
    background-color: var(--light-orange);
}
.light-yellow {
    background-color: var(--light-yellow);
}
.light-green {
    background-color: var(--light-green);
}
.light-blue {
    background-color: var(--light-blue);
}
.light-purple {
    background-color: var(--light-purple);
}

.black {
    background-color: #000;
}
.white {
    background-color: #fff;
}

/* gradient buttons */
.gradient-red-orange {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--red) 0%, var(--orange) 100%);
    /* margin: 0 auto;
    padding: 4px; */
    border-radius: 15px;
}
.gradient-yellow-green {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--yellow) 0%, var(--green) 100%);
    /* margin: 0 auto;
    padding: 4px; */
    border-radius: 15px;
}
.gradient-blue-purple {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--blue) 0%, var(--purple) 100%);
    /* margin: 0 auto;
    padding: 4px; */
    border-radius: 15px;
}
.inside-gradient {
    box-sizing: border-box;
    color: #fff;
	background: #000;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: background .5s ease;
}
.inside-gradient:hover {
    background: transparent;   
}


/* change padding for mobile */
@media screen and (max-width: 768px) {
    .nav-container {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-nav {
        margin:0px; /* Center your menu with current 100% width available */
    }
    .navbar .nav > li {
        display: block;
    }
    .navbar .nav > li  img {
        margin: auto;
    }
    .padding-sides-100 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .sponsor-item {
        display: block;
        width: auto;
        height: 100%;
        margin: 25px;
    }
    .life img {
        width: 25%;
        height: auto;
    }
    .harmony img {
        width: 50%;
        height: auto;
    }
    .spirit img {
        width: 100%;
        height: auto;
    }
}