@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

:root {
    --red: #f95151;
    --orange: #f7a441; 
    --yellow: #f9e35f;
    --green: #83d45a;
    --blue: #62afdf;
    --purple: #8678dd;
    
    /* spacing variables */
    --full-page-side-margins: 108px;
    --spacing-qwer-bar-height: 40px;
    --spacing-side-padding: 25px;

    --circle-size: 12px; 
    --border-radius: 12px;
}


/* styling for main content */
.main {
    width: 100%;
}

.logo {
    max-width:100%;
    height: auto;
}


/* styling by tag */
html {
    scroll-behavior: smooth;
    min-width: 430px;
}

body { 
    /* box-sizing: border-box; */
    margin: 0;
    background-color: #000;
}

a:hover {
    text-decoration: underline;
}

h1 {  
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 

h3 { 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 

p { 
    min-width: 100%;
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 200; 
    line-height: 18px;  
    margin: 0;
} 

br {
    line-height: 50%
}

blockquote { 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 

pre { 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
}

/* styling for font */
.ubuntu {
    font-family: Ubuntu;
}
.ubuntu-mono {
    font-family: Ubuntu Mono;
}

/* navbar */
.navbar {
    font-size: 14px;
    font-weight: 100;
    background-color: #000;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 10px;
}

.navbar a:link {
    color: #fff;
}
.navbar a:visited {
    color: #fff
}

.main-nav {
    list-style-type: none;
    display: none;
    margin: 0 !important;
}

.nav-links,
.icon {
    text-decoration: none;
    color: #fff;
}

.main-nav li {
    text-align: center;
}

.icon {
    display: inline-block;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.active {
    display: block;
}

@media screen and (min-width: 700px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .icon {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .icon:hover,
    .nav-links:hover {
        color: #fff;
    }
}

.button {
    color: #666;
    border: 0.5px solid #666;
}

/* qwerhacks containers */
.qwer-container {
    position: relative;
    margin: 20px;
    border: 2px solid #000;
    border-radius: var(--border-radius);
    min-width: 200px;
}
.bar {
    position: absolute;
    top: -2px;
    left: 0px;
    min-width: 100%;
    height: var(--spacing-qwer-bar-height);
    background-color: #000;
    color: #fff;  /* text color: white */
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    
}
.dot {
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: 50%;
    display: inline-block;
    margin-top: 14px;
    margin-right: 4px
}
.bar-title {
    color: #fff;
    display: inline-block;
    margin-left: 25px;
}
.content {
    display: table;
    width: 100%;
    min-height: 100%;
    padding-top: 65px;
    padding-bottom: 25px;
}
.partner-item {
    display: inline-block;
    height: 100px;
    margin: 12px;
    width: auto;
}
.partner-item img {
    height: 100%;
    width: auto;
}

.qwer-row {
    position: relative;
    display: table-row;
    overflow: hidden;
}
.qwer-col {
    table-layout: auto;
    display: table-cell;
    overflow: hidden;
}

.footer {
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}
  
.bold {
    font-weight: 700;
}

.border {
    border: 1px solid #888;
}
.border-dotted {
    border: 2px dotted #888;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
.padding-12 {
    padding: 12px;
}
.padding-25 {
    padding: 25px;
}
.padding-sides-25 {
    padding-left: 25px;
    padding-right: 25px;
}
.padding-top-bottom-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.padding-sides-100 {
    padding-left: 100px;
    padding-right: 100px;
}
.padding-right-12 {
    padding-right: 12px;
}
.padding-left-12 {
    padding-left: 12px;
}
.margin-25 {
    margin: 25px;
}
.margin-bottom-0 {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}
.inline-block {
    display: inline-block;
}

/* colors! */
.red {
    background-color: var(--red);
}
.orange {
    background-color: var(--orange);
}
.yellow {
    background-color: var(--yellow);
}
.green {
    background-color: var(--green);
}
.blue {
    background-color: var(--blue);
}
.purple {
    background-color: var(--purple);
}
.black {
    background-color: #000;
}
.white {
    background-color: #fff;
}