@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

:root {
    --red: #f95151;
    --orange: #f7a441; 
    --yellow: #f9e35f;
    --green: #83d45a;
    --blue: #62afdf;
    --purple: #8678dd;

    --navbar-footer-text-color: #fff;

    --spacing-horizontal-col: 40px; 
    --spacing-vertical: 40px;
    --spacing-horizontal-navbar-item: 20px;
    --spacing-vertical-navbar: 20px;
    --spacing-vertical-logo: var(--spacing-vertical-content);
    
}

/* styling by tag */
body { 
    margin: 0;
    background-color: #eee;
}

h1 {  
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 

h3 { 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 

p { 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 

blockquote { 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 

pre { 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}

/* styling by class */
.ubuntu {
    font-family: Ubuntu;
}
.ubuntu-mono {
    font-family: Ubuntu Mono;
}

.content {
    margin-top: var(--spacing-vertical-content);
    margin-bottom: var(--spacing-vertical-content);
}
.full-page-margins {
    margin-left: 10%;
    margin-right: 10%;
}
.vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row {
    max-width: 100%;
    height: auto;
}
.flex {
    display: flex;
}
.row-spacing {
    margin-top: var(--spacing-vertical);
    margin-bottom: var(--spacing-vertical);
}

.col {
    margin-right: var(--spacing-horizontal-col); 
}
.half-col {
    max-width: 50%;
    height: auto;
    flex: 50%;
}
.quarter-col {
    max-width: 25%;
    height: auto;
    flex: 25%;
}

.navbar {
    max-width: 100%;
    height: 40px;
}
.navbar-logo-icon {
    text-align: left;
    height: 100%;
    width: auto;
}
.navbar-components {
    text-align: right;
    flex: 60%;
}
.navbar-item {
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 240; 

    text-align: center;
    color: var(--navbar-footer-text-color);

    height: 100%;
    margin-left: var(--spacing-horizontal-navbar-item);
    margin-right: var(--spacing-horizontal-navbar-item); 
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    margin-top: var(--spacing-vertical-logo);
    margin-bottom: var(--spacing-vertical-logo);
    max-width: 100%;
    height: auto;
}
.logo img {
    max-width: 100%;
    height: auto;
}

.footer {
    color: var(--navbar-footer-text-color)
}
.footer h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.background-black {
    background-color: #000;
}
.background-white {
    background-color: #fff;
}





